<!DOCTYPE html>
<html>
    <head>
        <title>Solving Problems and Life</title>
        <meta charset="utf-8" />
    <style>
        .multicolor-text {
            text-align: center;
            font-size: 50px;
            background: linear-gradient(to left,
                    rgb(249, 6, 75),
                    rgb(255, 6, 172),
                    rgb(246, 8, 178),
                    rgb(246, 16, 250),
                    rgb(202, 13, 240),
                    rgb(151, 10, 239),
                    rgb(81, 0, 255));
            -webkit-background-clip: text;
            color: transparent;
        }
    </style>
    </head>
    <body>
        <header>
            <div class="multicolor-text">
                Solving Problems and Life
            </div>
        </header>

        <article>
            <time>published: 07.02.2023, 12:50</time>
            <h2><a href="">My first post</a></h2>
            <p>Test</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Test 2</p>
        </article>
    </body>
</html>