<!DOCTYPE html>
<html>
    <head>
        <title>Solving Problems and Life</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Solving Problems and Life</a></h1>
        </header>

        <article>
            <time>published: 07.02.2023, 12:50</time>
            <h2><a href="">My first post</a></h2>
            <p>Test</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Test 2</p>
        </article>
    </body>
</html>